* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.navbar {
    background-color: #7188DC;
    height: 10vh;
}

.image {
    margin: 0px auto;
    width: 200px;
    height: 200px;
    background-color: red;
}